.navbar {
    justify-content: center;
    
}


.navbutton {
    background-color: white;
    border: 2px solid gold;
    color: black;
    border-radius: 4px;
    height: 40px;
    padding-right: 32px;
    justify-content: right;
    text-align: center;
}

.navbutton:hover {
    background-color: gold;
    color: black;
}
.logo {
    text-align:  center;
}